#__1P13 Week *1*__ - _Hello World_
---
#Overview
Welcome to our first Computing Lab! This week we will be covering the basics of computing and create our own programs!

In [1]:
# RUN YOUR FIRST PROGRAM IN THIS CELL BY PRESSING "SHIFT+ENTER"
print("Hello World")

Hello World

Great work! <br/>
To execute the code in the above cell, select it with a click and then either press the play button to the left of the code, or use the keyboard shortcut "Command/Ctrl+Enter". To edit the code, just click the cell and start editing.

In [2]:
# EDIT THIS CELL!
print("My name is Josh")

My name is Josh

### Comments
Comments are lines of code which the Python Interpretter will ignore. We can use comments 
* to explain Python code
* to make the code more readable
* to prevent execution when testing code

In [3]:
# THIS IS A COMMENT. IT DOES NOTHING

---
# Representing Data
## Values & Expressions

__Values__ are the information (data) stored and manipulated by computer programs
<br/>
__Expressions__ are syntactic entities that denotes a value:
* Expressions are similar to mathematical expressions
* The simplest way to recognize an expression is that it simplifies to a value

In [4]:
# 5 is a value
5

5

In [5]:
# 10 + 5 is an expression
10 + 5

15

---
# Variables
__Variable:__ a container that holds a value that may change
* Values are information (i.e., data) stored and manipulated by computer programs

In [6]:
# RUN THIS CELL 
my_var = 'this is a variable'

# Data Types
__Data Types__: are used as a means to categorize data
* A data type defines a set of values along with the operations that can be performed on those values

Some examples of _data types_ in Python include:
* Strings
* Numeric Types (int, float)
* Booleans
* Lists

## Strings

In [7]:
# PRESS SHIFT ENTER TO SAVE A STRING VARIABLE
student_name = "Tommy"

__Multiline Strings__ can be assighed to a variable by using three quotes

## Numeric Types
Python has three numeric types in Python:
* int
* float
* complex

In this course we'll be working with `int` and `float`.
### \<int\>
An `int`, or integer, is a whole number, positive or negative, without decimals

In [1]:
# PRESS SHIFT ENTER TO DECLARE AN INTEGER VARIABLE
age = 21

### \<float\>
A `Float`, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [2]:
# PRESS SHIFT ENTER TO DECLARE A FLOAT VARIABLE
g = 9.81

###  Booleans
Booleans are used to evaluate expressions to `True` or `False`. They are used to help computers make decisions when programming.

In [3]:
# DECLARE A VARIABLE SET TO True and A VARIABLE SET TO False
my_bool = True
my_other_bool = False

# The Print Statement
The __print__ statement tells the program to display words or numbers on screen. 
<br/>
We saw this earlier when we printed `hello world`

In [4]:
# RUN THE HELLO WORLD STATEMENT
print("I love Python!")

I love Python!

`print` is a built-in function that displays output on the screen
* Typing the word print calls the print function
* An argument inside the parentheses is displayed on the screen (e.g., "I love Python!")

In [5]:
message = "I love Python!"
print(message)

I love Python!

# Mathematical Expressions
__Recall:__ an Expression is a syntactic entity that denotes a value
* An expression, in its simplest form, simplifies to a value
<br/>

The __value__ of a declared variable can also be an expression
* Numeric operations that can be performed on numeric variables

* ```x + y``` sum of x and y
* ```x - y``` difference of x and y
* ```x * y``` product of x and y
* ```x // y``` integer division of x and y
* ```x / y``` floating point division of x and y
* ```x % y``` remainder of x/y

In [6]:
# PRESS SHIFT ENTER TO USE THE ADDITION OPERATOR
sum = 1 + 2
print(sum)

3

In [7]:
# PRESS SHIFT ENTER TO USE THE SUBTRACTION OPERATOR
difference = 3 - 2
print(difference)

1

In [8]:
# PRESS SHIFT ENTER TO USE THE MULTIPLICATION OPERATOR
product = 5 * 2
print(product)

10

In [9]:
# PRESS SHIFT ENTER TO USE THE INTEGER DIVISION OPERATOR
integer_division = 11//2
print(integer_division)

5

In [10]:
# PRESS SHIFT ENTER TO USE THE FLOATING DIVISION OPERATOR
floating_division = 11/2
print(floating_division)

5.5

In [11]:
# PRESS SHIFT ENTER TO USE THE MODULO OPERATOR
remainder = 11%2
print(remainder)

1

# Variables and Expressions
Variables that you define in one cell can later be used in other cells.

In [12]:
# RUN THIS CELL
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

In [13]:
# AND THEN TRY THIS CELL NEXT
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

#Homework
**Before the lab complete** use the cell below to complete the Pre-Lab Quiz on Avenue.

In [14]:
# USE THIS CELL TO TEST CODE FROM THE PRE-LAB QUIZ


## Additional Resources



[How To Use Jupyter Notebooks](https://www.codecademy.com/articles/how-to-use-jupyter-notebooks)

[W3 Schools: Python Syntax](https://www.w3schools.com/python/python_syntax.asp)

[W3 Schools: Python Variables](https://www.w3schools.com/python/python_variables.asp)

[W3 Schools: Python Data Types](https://www.w3schools.com/python/python_datatypes.asp)